# Data Pipeline Dependencies

# Data Processing
pandas
numpy

# Cloud Storage
boto3

# Data Sources
kagglehub

# Snowflake Integration
snowflake-connector-python

# Data Transformations
dbt-snowflake

# Environment Variables
python-dotenv
